:root {
    --color-main: #59b5f2;
    --color-text: #eee;
    --color-bg: #181818;
    --color-bg2: #212121;
    --color-accent: #717171;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 200%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
}

body > .content {
    flex: 1 0 auto;
}

.header {
    justify-self: start;
    background: var(--color-bg2);
    padding: 0 10% 0 4%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 1;
    border-bottom: 1px solid var(--color-accent);
}

.logo-container {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo {
    height: 65px;
}
.name {
    font-family: 'Sintony', sans-serif;
    font-size: 28px;
    margin-left: 15px;
    color: var(--color-main);
    transition: font-size 0.5s ease;
}
.logo-container:hover .name {
    font-size: 28.5px;
}

.navbar-container {
    width: 50%;
    background: var(--color-bg2);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.5s ease, font-size 0.5s ease;
}
.nav-link:hover {
    color: var(--color-main);
    font-size: 20px;
}
.hamburger {
    transition: color 0.5s ease;
    display: none;
    position: absolute;
    align-self: start;
    top: 35%;
    right: 20px;
    width: 30px;
    height: 21px;
    flex-direction: column;
}
.hamburger span {
    height: 3px;
    width: 100%;
    background: var(--color-text);
    margin: 2.5px;
}
.hamburger:hover span {
    background: var(--color-main);
}

@media screen and (max-width: 1000px) {
    .header {
        padding-right: 4%;
    }
    .navbar-container {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .hamburger {
        display: flex;
    }
    .header {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
    .logo-container {
        position: absolute;
        left: 20px;
        top: 6px;
    }
    .navbar-container {
        width: 100%;
        margin-top: 80px;
    }
    .navbar {
        flex-direction: column;
        display: none;
    }
    .navbar.open {
        display: block;
    }
    .nav-item {
        margin: 18px;
    }
}

footer.rights-reserved {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    height: 3vh;
    width: 100%;
    color: var(--color-accent);
    font-size: 13px;
    background: var(--color-bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}